/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;

}


/*Top Section Styles*/
.head-nav{
    display: flex;
    justify-content:space-between;
}
.logo{
    width: 25%;
    margin-top: 2%;
}
.links{
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

.cta-image .top-img{
    width: 100%;
}

.index-about{
margin-top: 2.5%;    
display: flex;
justify-content: space-between;
text-align: left;
}
.index-about h2{
text-align: center;
}
/*Middle Section Styles*/
.middle-content {
    margin-bottom: 4%;
}

.middle-content h2 {
    margin-bottom: 0;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    margin: 4% 0;
    color: white;
    gap: 40px 40px;
}

.boxes .box1{
    background-color: teal;
    padding: 5%;
}
.boxes .box2{
    background-color: gold;
    padding: 5%;
    
}
.boxes .box3{
    background-color: cadetblue;
    padding: 5%;
  
}
.boxes .box4{
    background-color: coral;
    padding: 5%;
    
}
.boxes .box5{
    background-color: crimson;
    padding: 5%;
    
}
.boxes .box6{
    background-color: forestgreen;
    padding: 5%;
   
}
.boxes .box7{
    background-color: darkorchid;
    padding: 5%;
    
}
.boxes .box8{
    background-color: hotpink;
    padding: 5%;
   
}
.boxes .box9{
    background-color: indigo;
    padding: 5%;
    
}
.boxes .box10{
    background-color: dodgerblue;
    padding: 5%;
    
}
.box-container button{
    display: flex;
    align-items: center;
    text-align: center;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ff4b00;
}

.bottom-content .text-container {
    width:25%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}



/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}
.bottom-links{
    display: flex;
    flex-wrap: wrap;
    text-decoration-color: white;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    align-content: center;
}
/*About Page Styles*/
.about-top-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
    align-content: center;
}

.about-middle-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5%;
    text-align: justify;
    align-content: center;
}

.about-middle-content .box-container{
    margin-top: 4%;
    border-bottom: 2px solid #ff4b00;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 4%;
}

.about-bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    text-align: left;
}

 .about-bottom-content .text-container {
    width: 85%;
    padding: 0 2%;
    padding-bottom: 2%;   
 } 

.bottom-links a{
    color: lightgrey;
}

/*Responsive Styles*/
@media(max-width:500px){

}/*this is for the 500 query*/